<h1>State List</h1>

<p>here is a list of states...</p>

<!-- iterate through each state in the array and put them into list items individually -->
<select>
  <% @states.each do | hash | %>
  <% if hash[:id]="NY"%>
    <option selected value="<%=hash[:id] %>"><%=hash[:name]%></option>
  <%end%>
  <option value="<%=hash[:id] %>" <% if hash[:id]=="NY" %> selected="selected" <%end%>> <%=hash[:name]%></option>
  <% end %>
</select>
